* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    line-height: 1,5em;
    background-color: #fdf1ec;
}

/* Navbar */

#navbar {
    display: flex;
    margin-bottom: 20px;
}

.navbar-btns {
    width: 100%;
    margin-left: 60%;
}

.logo {
    background-image: url(Logo_Book_Store.png);
    width: 120px;
    height: 70px;
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center;
    position: absolute;
    float: right;
    margin-top: 10px;
    margin-bottom: 10px;
}

.product-price-btn button,
.shopping-cart-btn,
.admin-section-btn,
.home-section-btn
  {
    float:right;
    height: 50px;
    width: 176px;
    margin: 10px 40px 0 16px;
    box-sizing: border-box;
    border: transparent;
    border-radius: 60px;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #ffffff;
    background-color: #9cebd5;
    cursor: pointer;
    outline: none;
}
  
.product-price-btn button:hover,
.shopping-cart-btn:hover,
.admin-section-btn:hover,
.home-section-btn:hover {
    background-color: #79b0a1;
}

/* Index */

#mainpage {
    display: flex;
    height: 500px;
    width: 100%;
    padding-left: 180px;
    padding-top: 15px;
}

#banner-left {
    background-image: url(OtherImages/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center;
    display: block;
    height: 500px;
    width: 700px;
}

#banner-right-up {
    background-image: url(OtherImages/image7.jpg);
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center;
    height: 250px;
    width: 300px;
}

#banner-right-down {
    background-image: url(OtherImages/image5.jpg);
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center;
    height: 250px;
    width: 300px;
}

@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.3/css/mdb.min.css);

.hm-gradient {
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}
.darken-grey-text {
    color: #2E2E2E;
}

#products {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    padding-top: 40px;
}

.card {
    width: auto;
    position: relative;
    box-shadow: 0 2px 7px #dfdfdf;
    background: #fafafa;
} 

.elegant-color:hover {
    z-index: 5;
    width: 250px;
      height: 510px;
      margin-top: -130px;
      margin-left: -130px;
      top: 25%;
      left: 53%;
}
  
.view {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    background: #f0f0f0;
} 

.view img {
    max-width: 100%;
    max-height: 100%;
}

.card-title {
    display: block;
    font-size: 12px;
    text-transform: uppercase;
    color: #ccc;
}

.card-body h4 {
    font-weight: 600;
    display: block;
    text-transform: uppercase;
    color: #363636;
    text-decoration: none;
    transition: 0.3s;
    overflow: hidden;
    border-top: 1px solid #eee;
    padding-top: 10px;
}

.card-text {
    font-size: 18px;
    color: #fbb72c;
    font-weight: 600;
}

.btn button{
    background-color: lightskyblue;
    padding: 5px;
    display: inline;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}

/* Details */

#wrapper {
    height: 450px;
    width: 654px;
    margin: 50px auto;
    border-radius: 7px 7px 7px 7px;
    /* VIA CSS MATIC https://goo.gl/cIbnS */
    -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
}
  
.product-img {
    float: left;
    height: 450px;
    width: 327px;
}
  
.product-img img {
    border-radius: 7px 0 0 7px;
    max-height: 100%;
    align-items: center;
}
  
.product-info {
    float: left;
    height: 450px;
    width: 327px;
    border-radius: 0 7px 10px 7px;
    background-color: #ffffff;
}
  
.product-text h1 {
    margin: 0 0 0 38px;
    padding-top: 40px;
    font-size: 25px;
    color: #474747;
}
  
.product-text h1,
.product-price-btn p {
    font-family: 'Bentham', serif;
}
  
.product-text h2 {
    margin: 0 0 10px 38px;
    font-size: 13px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: #d2d2d2;
    letter-spacing: 0.2em;
}
  
.product-text p {
    height: 150px;
    margin: 0 10px 0 38px;
    font-family: 'Playfair Display', serif;
    color: #8d8d8d;
    line-height: 1.7em;
    font-size: 15px;
    font-weight: lighter;
    overflow: hidden;
}
  
.product-price-btn {
    height: 103px;
    width: 327px;
    margin-top: 17px;
    position: relative;
}
  
.product-price-btn p {
    display: inline-block;
    position: absolute;
    top: -13px;
    height: 50px;
    font-family: 'Trocchi', serif;
    margin: 0 0 0 38px;
    font-size: 24px;
    font-weight: lighter;
    color: #474747;
}
  
.product-price {
    margin-top: 17px;
    display: inline-block;
    height: 50px;
    font-family: 'Suranna', serif;
    font-size: 25px;
}

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.popup .popuptext {
    visibility: hidden;
    width: 160px;
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif; 
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

/* Admin & Cart */

h3 {
    color: black;
}

input[type=number] {
    color: gray;
    text-align: right;
}

.admin-container, #cart {
    padding-top: 15px;
}

.card-form {
    max-width: auto;
    border: none;
    background-color: #fff;
}

#products-admin {
    max-width: auto;
    padding: 0 2rem;
    overflow: hidden;
    border-radius: 5px;
}

#book-table, #table-cart {
    border-collapse: collapse;
    width: 100%;
    text-align: left;
}

#table-head {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #434a4b;
    color: #fff;
    font-size: 1.5rem; 
}

table th{
    border: 2px solid #ddd;
    border-radius: 5px;
    padding: 14px 12px;
    color: #fff;
}

table tbody td{
    border: 2px solid #ddd;
    font-size: 25px;
}

table tr:nth-child(even)
{background-color: rgba(237, 237, 237, 0.5);}

table tr:hover {background-color: #aaaaaa;}

.removeBtn {
    display: inline-block;
    padding: 10px; 
    text-decoration: none;
    border: none;
    border-radius: 5px;
    background-color: #434a4b;
    color: #ddd;
}

.removeBtn:hover{
    background-color: #314e52;
}

.admin-image, .admin-card-img {
    max-width: 50px;
    max-height: 70px;
}

#total {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5em;
    display: flex;
    float: right;
    margin-right: 30px;
}

#cart-image {
    background-image: url(OtherImages/image4.jpg);
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 100px;
    margin-left: 450px;
    height: 300px;
    width: 350px;
}

/* Admin animation */
.head {
    margin-top: 20px;
    margin-bottom: 20px;
	width:300px;
	height:300px;
	border-radius:100%;
	background:#3c9dca;
	border: black solid thick;
    margin-left: 38%;
}

.white {
    width: 262px;
    height: 231px;
    border-radius: 100%;
    position: relative;
    top: 45px;
    left: 15px;
    background: #fff;
    border: black solid thin;
    z-index: 0;
}

.eye_white {
    position: relative;
    top: 19px;
    left: 82px;
    z-index: 1;
}

.eye_white li {
    width: 63px;
    height: 76px;
    border-radius: 100%;
    background: #FFF;
    list-style:none;
    border: black solid thin;
    display:block;
    float:left;
}

.eye_black {
    width: 13px;
    height: 23px;
    border-radius: 100%;
    background: #000;
    list-style:none;
    top: 40px;
    position:relative;
    border: black solid thin;
    display:block;
    left: 5px;
    -webkit-animation:move 6s ease infinite;
    animation:move 6s ease infinite;
}

@-webkit-keyframes move {
    16%{top:48px;left:15px;}
    32%{top:50px;left:30px;}
    48%{top:40px;left:45px}
    64%{top:50px;left:30px}
    80%{top:48px;left:15px}
}

@keyframes move {
    16%{top:48px;left:15px;}
    32%{top:50px;left:30px;}
    48%{top:40px;left:45px}
    64%{top:50px;left:30px}
    80%{top:48px;left:15px}
}

.eye_black::before {
	content:'';
    width: 5px;
    height: 7px;
    border-radius: 100%;
    background: #fff;
    list-style: none;
    top: 8px;
    position: relative;
    display: block;
    left: 4px;
}

.line_left {
    width: 75px;
    height:1px;
    transform:rotate(20deg);
    top: 45px;
    left: 7px;
    position:relative;
    border-radius: 10%;
    background: #000;
    list-style: none;
    display: block;
}

.line_left::before {
    content:'';
    width: 75px;
    height:1px;
    top: 45px;
    transform:rotate(-20deg);
    position:relative;
    border-radius: 10%;
    background: #000;
    list-style: none;
    display: block;
}

.line_left::after {
    content:'';
    transform:rotate(-40deg);
    width: 75px;
    height:1px;
    top: 60px;
    left: 15px;
    position:relative;
    border-radius: 10%;
    background: #000;
    list-style: none;
    display: block;
}

.line_right {
    width: 75px;
    height:1px;
    transform:rotate(160deg);
    top: 45px;
    left: 185px;
    position:relative;
    border-radius: 10%;
    background: #000;
    list-style: none;
    display: block;
}

.line_right::before {
    content:'';
    width: 75px;
    height:1px;
    bottom: 50px;
    position:relative;
    transform:rotate(30deg);
    border-radius: 10%;
    background: #000;
    list-style: none;
    display: block;
    left:10px;
}

.line_right::after {
    content:'';
    width: 75px;
    height:1px;
    bottom: 25px;
    transform:rotate(10deg);
    left: 0px;
    position:relative;
    border-radius: 10%;
    background: #000;
    list-style: none;
    display: block;
}

.nose {
    width: 23px;
    height: 23px;
    border-radius: 100%;
    background: #b90319;
    list-style: none;
    top: 30px;
    position: relative;
    border: black solid thin;
    display: block;
    left: 118px;
    z-index:2;
}

.nose::after {
    content: '';
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background: #FFF;
    list-style: none;
    top: 10px;
    position: relative;
    border: black solid thin;
    display: block;
    left: 5px;
}

.line_vertical {
    width: 1px;
    height: 155px;
    top: 20px;
    left: 129px;
    position: relative;
    border-radius: 10%;
    background: #000;
    z-index: 1;
}

.mouth {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    top: -179px;
    left: 20px;
    position: relative;
    background: #000;
    z-index: -1;
}

.mouth::after {
    content: '';
    width: 201px;
    height: 201px;
    top: -2px;
    left: -1px;
    border-radius: 100%;
    position: relative;
    display: block;
    background: #FFF;
}

/* Footer */

#footer {
    position:static;
    background:#9cebd5;
    padding-top: 5px;
    height: 40px;
    width: 100%;
} 

#footer-span {
    float: right;
}

#footer-text, #footer-span {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}











